<h1>Editing subsoftware</h1>

<%= render "form", subsoftware: @subsoftware %>

<br>

<div>
  <%= link_to "Show this subsoftware", @subsoftware %> |
  <%= link_to "Back to subsoftwares", subsoftwares_path %>
</div>
